.image-container {
  height: 100vh; /* Set the height of the container to 100% of the viewport height */
}

img {
  max-width: 100%; /* Make the image responsive, ensuring it does not exceed the viewport width */
  height: auto; /* Maintain the aspect ratio by setting height to auto */
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}