.card {
    height: 60vh;
    margin: 25px;
    padding: 25px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

th, td {
    padding: 15px;
    text-align: left;
}

.card-table{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.btn{
    font-size: 14px !important;
    font-weight: 400;
    padding: 0px 30px;
    border-radius: 3px !important;
    color: red;
    size: 100px;
}

img {
    max-width: fit-content;
    height: 150px;
}